body{
	background-color: #ffffff;
	font-family: 'Oswald', sans-serif;
}

a{
	color: #ffffff;/*yes */
	text-decoration: none;/*yes */
	font-size: 20px;
	text-transform: uppercase;
	font-weight: 500;
	letter-spacing: 2px;
    display: block;
    background-image: url('arrow.png');
    background-repeat: no-repeat;
    background-position: right center;
    -webkit-font-smoothing: antialiased;
}

ul{
	padding: 0;
    margin: 0;
}

li{
	/*width: 100%;*/
	margin-bottom: 3px;/* yes*/
	padding: 60px 40px 60px 100px;/*yes */
    list-style-type: none;/*no */
    background-color: #4a4a4a;

}

li.done{
	background-image: url('boxdone.png');
	background-repeat: no-repeat;
    background-position: 40px center;
    background-color: #27ae60;
}

li.undone{
	background-image: url('boxundone.png');
	background-repeat: no-repeat;
    background-position: 40px center;
    background-color: #4a4a4a;
}

li.undone:hover{
	background-color: #6e6e6e;
}

li.done:hover{
	background-color: #52be7f;
}

