/* Lato-light */@font-face {
    font-family: 'Lato-light';
    src: url('../fonts/Lato-Light.ttf') format('ttf');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

/* Lato-medium */@font-face {
    font-family: 'Lato-medium';
    src: url('../fonts/Lato-Medium.ttf') format('ttf');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

/* Lato */@font-face {
    font-family: 'Lato-regular';
    src: url('../fonts/Lato-Regular.ttf') format('ttf');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}


body{
    font-family: 'Lato', sans-serif;
}
/* All code common*/
a{
    text-decoration: none;
}

h1,h2, p, span{
    -webkit-font-smoothing: antialiased; 
}

/* Header*/
#logotipo{
    background-image: url(logo.png);
    background-repeat: no-repeat;
    background-position: center;
    float: left;
    margin: 20px 165px 50px 380px;
    padding: 30px 100px 10px 10px;
    
}
#logotipo span{
    visibility: hidden;
}
nav{
    width: 100%;
    padding: 1px;
}
.top-page{
    background-image: url(fundoheader.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.top-page ul{
    display: flex;
    padding: 25px;
}


.top-page ul li{
    color: #FFF;
    list-style-type: none;
    font-size: 20px;
    padding: 12px 32px 12px 32px;
    margin-right: 58px;
}

#convite{
    border-radius: 3px;
    border: 1px solid #ffffff;
}

.welcome{
    margin-left: 130px;
    padding: 120px 0 400px 250px;
}
.welcome h1{
    color: #ffffff;
    font-size: 50px;
    font-weight: 400;
    line-height: 0;
    margin-left: 65px;
}
.welcome h2{
    color: #ffffff;
    font-size: 36px;
    font-weight: 300;
    margin: 7px 15px 36px 23px;
}
.welcome a{
    color: #ffffff;
    font-size: 32px;
    font-weight: 300;
    padding: 19px 149px 25px 149px;
    box-shadow: 0 6px 2px #a32751;
    border-radius: 3px;
    background-color: #ff3d7f;
}


#info{
    border-bottom: 3px solid #511099;
}
#info img{
    float: left;
    padding: 74px 100px 82px 300px;
}

.info-texto{
    margin: 119px 0 110px 0;
    padding: 30px;
    display: inline-block;
    width: 460px;
}

.info-texto h2{
    font-size: 36px;
    font-weight: 400;
    margin: 0 auto;
}

.info-texto p{
    font-size: 24px;
    font-weight: 300;
    margin-bottom: 45px;
    
}

.info-texto a{
    font-size: 30px;
    font-weight: 300;
    color: #ffffff;
    box-shadow: 0 6px 2px #a32751;
    border-radius: 3px;
    background-color: #ff3d7f;
    padding: 18px 62px 19px 61px;
}

#depoimento{
    background-color: #ebe7fb;
}
#depoimento img{
    margin-top: 65px;
    margin-bottom: 22px;
}

.depoimento-caixa{
    width: 917px;
    margin: 0 auto;
    padding-bottom: 115px;
    
}
.depoimento-caixa p{
    font-size: 24px;
    font-weight: 300;
    color: #000000;
    text-align: center;
}
#autora{
    display: block;
    text-align: center;
    font-family: 'Lato-medium', sans-serif;
}

#convites{
    background-image: url(fundo-convite.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    border-bottom: 1px solid #fff;
}

#formulario{
    text-align: center;
    margin: 0 auto;
    padding: 152px;    
}

#formulario input{
    width: 641px;
    padding: 20px;
    background-image: url(mail.png);
    background-repeat: no-repeat;
    opacity: 0.89;
    background-position: right;
    border-radius: 3px;
    border: 25px solid rgba(255,255,255,0.8);
}

::-webkit-input-placeholder{
    font-size: 24px;
    font-weight: 400;
    color: #4a4a4a;
}

footer{
    background-color: #2a0157;
    
    text-align: center;
}

footer p{
    color: #FFFFFF;
    margin: 0 auto;
    padding: 35px;
    font-size: 18px;
    font-weight: 300;
    letter-spacing: 133;
}