body{
    background-color: #9b9b9b;/* */
    padding: 45px;/* */
    font-family: 'Roboto', sans-serif;/* */
    -webkit-font-smoothing: antialiased;
    font-size: 13px;
    font-weight: 400;
}

.tabela table{
    background-color: #FFFFFF;/* */
    width: 100%;/* */
    border-spacing: 0;
    border-radius: 0px 0px 3px 0px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.26);
}

.tabela table caption{
    background-color: #FFFFFF;
    font-size: 20px;/* */
    text-align: left;/* */
    padding: 20px;/* */
    font-weight: 500;
    border-radius: 3px 3px 0px 0px;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.26);
}

.tabela table th{
    text-align: left;
    font-size: 14px;
    font-weight: 500;
}

.tabela table td, .tabela table th{
    border-bottom: 1px solid rgba(0,0,0,0.1);
    padding-top: 20px;
    padding-bottom: 20px;
}

.tabela tbody td:first-child, .tabela thead th:first-child{
    width: 80px;
    text-align: center;
}

.tabela table tbody tr:hover{
    background-color: #eeeeee;
}

.tabela table tfoot{
    font-size: 12px;
    text-align: right;
    opacity: 0.5;
}

.tabela table tfoot td{
    padding-right: 20px;
}

.tabela table tfoot td span{
    margin-right: 10px;
    margin-left: 30px;
}

.tabela table tfoot td img{
    margin-left: 20px;
}

.tabela table select{
    border: none;
    background-color: transparent;
}