body{
    background-color: #9b9b9b;
    font-family: 'Roboto', sans-serif;
}

.tabela{
    background-color: #ffffff;
    margin: 95px;
    
}

.tabela table{
    border-spacing: 10px;
    border-collapse: collapse;
    width: 100%;
}

.tabela th{
    font-size: 14px;
}

.tabela td{
    font-size: 13px;
    padding:18px;
}

.tabela caption{
    font-size: 20px;
    text-align: left;
    padding: 21px;
}

.fundotabela{
    color:#999;
    text-align: right;
    padding: 15px;
    font-size: 12px;
}

.fundotabela img{
    margin-left:22px
}
.intervalopagina{
    margin-right: 28px;
    margin-left: 38px;
}
